@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  margin-top: 50px;
}

.login-button > div {
  margin-left: 10px;
}

.login-button:hover {
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin: 0 10px 20px 10px;
}

.product-img {
  width: 200px;
  height: auto;
}

.product-card {
  margin-bottom: 30px;
}

.product-card:hover {
  transform: scale(1.1);
  z-index: 1;
}


.search-box {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  top: 165px
}

.search-box input {
  border: none;
  margin-left: 5px;
}
.search-box input:focus {
  outline: none;
}

.product-img {
  display: flex;
  justify-content: flex-end;
}

/* 상품상세페이지 폰트 사이즈*/
.product-name {
  font-size: x-large;
  font-weight: 800;
}

.product-price {
  font-size: large;
}


.product-size, .product-name, .product-price, .product-choice, .product-btn {
  margin-top: 20px;
}
